C:\Users\User\Desktop\ALL_CS_PROJECTS\Personal_Projects\LifeThon\client_secret_981824546089-lmj3no8nrqt2efkdt13o9vmg8nh7fmaf.apps.googleusercontent.com.json
C:\Users\User\Desktop\ALL_CS_PROJECTS\Personal_Projects\LifeThon\backend\src\main\resources\application.properties